@model CityWeather
<h1>Weather</h1>
<div>
    <table>
        <tr>
            <td>@Model.CityName</td>
            <td>@Model.DateAndTime</td>
            <td>@Model.TemperatureFahrenheit</td>
            
        </tr>
    </table>
</div>